body, html {
    height: 100%;
    margin: 0;
}

.full {
    background: url("3338558_field_6-wallpaper-1920x1080.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
}
.eac-container-example-ajax-post{
margin-bottom:150px;
}
.easy-autocomplete input {
width:400px;
}
.Nghia{
margin-left:300px;
margin-top: 80px;
color: #e20c0c;
font-size: 20px;
}